.vert{
    background-color: aquamarine;
}

.texte-vert{
    color: rgb(112, 79, 16);
    border-bottom: 3px solid rgb(112, 79, 16) ;
}

section#contact {
    background-color: #f8f9fa;
    padding: 40px 0;
  }
  
  form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 2.5rem;
    color: #333;
  }
  
  button[type="submit"] {
    background-color: #25D366; /* WhatsApp green */
    color: white;
    font-weight: bold;
    padding: 12px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #128C7E;
  }  


  


.hero1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: url(/img/hero3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Styles pour l'effet de survol */
.hover-effect {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.05); /* Zoom léger de l'image */

}


/* Styles pour l'effet de survol sur les cartes et icônes */
.hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.05); /* Zoom léger de la carte */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Légère ombre portée sur la carte */
}

.icon-hover {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.icon-hover:hover {
  transform: scale(1.1); /* Zoom sur l'icône */
  filter: brightness(0.8); /* Assombrir l'icône au survol */
}



/* Cacher l'image de fond sur les écrans de moins de 768px (mobile) */
@media (max-width: 768px) {
  .hero1 {
    background: none; /* Supprime l'image de fond */
    
  }
}